.element__like {
  width: 25px;
  height: 23px;
  align-self: start;
  background-color: transparent;
  background-image: url(../../../images/element__like.svg);
  background-repeat: no-repeat;
  border: none;
  transition: background-image .3s;
}

.element__like:hover {
  opacity: .5;
  cursor: pointer;
}
